body{
    margin: 0;
    padding: 0;
    min-width: 320px;
    height: 100%;
    background: linear-gradient(to left, pink 20%, lightcyan 20%, lightcyan 80%, pink 80%);
}

header{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;

}
.headerTitle {
    display: flex;  
    font-size: 4em;
    
}
.center{
    display: flex;
    justify-content: center;
}
#InputCurrencyValue{
    display: flex;
    width: 40%;
    font-size: 2em;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    color: black;
    border-radius: 5px 0 0 5px;
    height: 40px;
    box-sizing: border-box;
    
}
#currency{
    box-sizing: border-box;
    background: white;
    border-radius: 0 5px 5px 0; 
    font-size: 2em;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none; 
    height: 40px ;
}
#button {
    margin-top: 1%;
    font-size: 2em;
    width: 40%;
    min-width: 200px;
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}
.tab{
    visibility: hidden;
    flex-direction: column;
    align-items: center;
}
.flx {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    font-size: large;
}
#bonus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
ul {
    list-style: none;
    padding-left: 10px;
}
.inBonusList {
    display: flex;
    width: 100%;
    font-size: large;
}
.full {
    justify-content: flex-end;
}
#BYN {
    font-size: 2.5em;
    font-weight: bold; 
}