body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    box-sizing: border-box;
}
.headerTitle {
    display: flex;  
    font-size: 4em;
}
.mainInput{
    display: flex;
    justify-content: center;
}
#InputCurrencyValue{
    display: flex;
    width: 40%;
    font-size: 2em;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
#currency{
    background: none; 
    font-size: 2em;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none; 
    cursor: pointer;
}
#button {
    margin-top: 1%;
    font-size: 2em;
    width: 40%;
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}
table{
    visibility: hidden;  
}

td {
    border: 1px solid black;
}