body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    width: 100%;
    height: 100px;
    box-sizing: border-box;
}
.headerTitle {
    display: flex;  
    height: auto;
    font-size: 12vh;
}